<div class="container">
	<div class="lead text-center">
		Редактирование услуги
	</div>
	<%= render 'form', service: @service, layout: 'admin' %>
	
	<%= link_to 'Show', @service %> |
	<%= link_to 'Back', services_path %>
	<td><%= link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
