<div class='container mt-20' id='services'>
  <div class='row'>
    <% Service.all.each do |serv| %>
      <div class="col-md-4 col-sm-5 col-12" >
        <%= render partial: 'services/service', locals: {service: serv } %>
      </div>
    <% end %>
  </div>
</div>