<div class='container mt-20' id='services'>
  <div class='row'>
    <% Service.all.each do |serv| %>
      <div class="col-md-4 col-sm-5 col-12" >
        <%= render partial: 'services/service', locals: {service: serv } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-20" id='request' style="margin-top: 20px ">
  <div class='row'>
    <div class="col-md-3 col-sm-3"></div>
    <div class="background-image col-md-6 col-lg-6 col-sm-7">
      <%= render partial: 'requests/form', locals: {new_request: Request.new, mode: 1 } %>
    </div>
  </div>
</div>