<div class='col-lg-4 col-md-4 col-sm-6 col-12 col-xs-12'>
	<%= link_to note_path(note), action: 'edit', class: 'nav-link' do %>
		<div class="note-box text-dark">
		    <%# tag.img src: (note.img_url? ? "#{asset_path(note.img_url)}" : image_url("default.png")), class: 'note-image' %>
		    <div class='note-topic'>
			    <h5><%= note.topic %></h5>
			</div>
			<div class='note-text '>
				    <%= note.description %>
			</div>
			<div class="note__date">
				<%= note.updated_at.strftime('%Y-%m-%d') %>
			</div>
		</div>
	<% end %>
</div>