
<div class='row'>
	
</div>

<div class='row'>
	<div class='container' id='request'>
		<div class='background-form background-image'>
			<%= render partial: 'requests/form', locals: {new_request: Request.new} %>
		</div>
	</div>
</div>
