<div class="" style="width: 400px">
<div class="test">	

Поздравляем! Ваш сайт активирован и станет доступен сразу после загрузки файлов на сервер хостинга.

Если Вы владелец сайта и считаете, что здесь какая-то ошибка, создайте запрос в техподдержку с указанием ссылки на страницу.
</div>
</div>