@import 'global';

.carousel-img {
	width: 100%;
	background-size: cover;
	max-height: 500px;
}

.carousel {
	max-height: 500px;
	width: 80%;
	margin: auto;
}

.carousel-indicators li 
{
	border-color: $top_border_color;

}

.carousel-indicators .active {
	border-width: 2px;
	background-color: transparent;
	border-color: #006363;
}
