
.footer__main_address {
}

.footer__main_block {
	border-top: 2px solid $top_border_color;
}

.footer__main_address_text {
	text-align: center;
}

.footer__map_container {
	width: 100%;
}
