$top_border_color: #87CEEB !global;

.global__box {
	border-top: 2px solid $top_border_color;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	background-color: #f6f6f6;
	padding: 0 15px 15px;
}

.global__box_title {
	background-color: white;
	text-align: center;
	line-height: 50px;
	font-style: 34px !important;
	box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.3);
	width: 100%;
}


@media screen and (max-width: 800px)  {
	.global__box {
		//padding: 10px;
	}	
}

