// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.note-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;
  background-color: white;

  filter: blur(3px);
  -webkit-filter: blur(3px);  

}


.note-topic {
	margin: 0px;

	padding: 10px;
	text-align: center;	
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
   /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    height: 80px;
}

.note-image
{
	max-height: 100px;
	float: left;
	max-width: 80px;
}


.note-box {
	/*background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
	//border-radius: 10px;	
	height: 200px;
	border: 1px solid #F1E7E8;
	padding: 10px;
	margin-top: 10px;
	color: black;
	//border-top: 2px solid $top_border_color;
	background-color: white;
}
.note-box a:hover {
		color: black !important;
		text-decoration: none !important;
};

.note-box:hover  {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	 color: black;
	 text-decoration: none  !important;

}

.note-text {
	//text-indent: 1.5em;
	margin-top: 10px;
    line-height: 1.2em;

    display: -webkit-box;
    -webkit-line-clamp: 3;
   /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
}

.note {
	 min-width: 100px;	
}

.note__image {
	background-size: cover;
	margin: 30px auto;
	max-height: 300px;
	display: block;
}

.note__index_topic {
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 24px;
}

.note__cont {
	background-color: white;
}

.note__date {
	color: #e5e5e5;
	right: 40px;
	bottom: 8px;
	position: absolute;
}

.note__descr {
	font-weight: lighter;
}

.note__text {
	
}

#notes .nav-link {
	padding: 0 !important;
}

@media only screen and (max-width: 1650px) and (min-width: 1024px) 
{
	.note__index_topic {
		//width: 840px;
	}	
}

@media screen and (max-width: 800px)  {
	.note-box {

	}
	
}