// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-image {
  background-color: white;
  background-size: cover;
  background-image: url('chair-4.jpg');
  padding: 0 20px 10px;
  border-radius: 10px;
}

.background-form {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  opacity: 0.8;
  text-align: center;
  display: flex;
  padding-top: 20px;
}

.error-box{
    color: red;
    font-size: 12px;
}

.overlay_popup {
  display: none;
  position:fixed;
  z-index: 999;
  top:0;
  right:0; 
  left:0;
  bottom:0;
  background:#000; 
  opacity:0.7;
}

.popup {
  display: none;
  position: fixed !important;
  z-index: 999999;
  max-width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
 // top: 35%;
  background-color: white;
  padding-bottom: 10px;
}

.request-header {
  margin-top: 20px;
}

a.boxclose {
    float:right;
    margin-top:-18px;
    margin-right:-12px;
    cursor:pointer;
    color: white !important;
    border: 1px solid #AEAEAE;
    border-radius: 40px;
    background: black;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
    text-decoration: none;
}

.boxclose:before {
    content: "×";
}

.boxclose:active .overlay_popup {

}


@media screen and (max-width: 800px) {
  .background-image {
    margin: 0 20px !important;
  }
}


.global__box .request-header {
  background-color: white;
  text-align: center;
  line-height: 50px;
  font-style: 34px !important;
  box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 100%;  
  margin: 0;
}