.table_request {
  border-collapse: collapse;
  border-left: 2px solid #99ccff;
  border-right: 2px solid #99ccff;
  border-bottom: 2px solid #99ccff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  position: absolute;
  left: 30%;
}
.table_request caption{
  background: #99ccff; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;	
}
.table_request td, .table_request th {
  padding: 10px;
}
.table_request th {
  text-align: center;
  font-size: 18px;
}
.table_request tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_request td:last-of-type {
  text-align: center;
}
.table_request a {
  display: inline-block;
  padding: 5px 10px;
  background: #99ccff;
  box-shadow: 2px 2px 0 0 #a22800;
  position: relative;
}
.table_request a:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}